body {

  background-color: white;
}

#section {
    width:300px;
    float:left;
    padding:50px; 
}

/*
.navbar-default {
  background-color: #e6f2ff;
 
  
}
*/ 
/*
 .navbar-default {
  color: #e6f2ff;
}
*/

.navbar-default {
  background-color: #99ffcc;
  border-color: #99ffcc;
}